# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 3dff80088c3150c9579adab6fa059d57988df320bdbd21831df2730f651f7530e9b53bb46ccb184abe7dfede963f3974e1629b6cb914aa5d60af838d14172585

test:
  secret_key_base: e121ee138adfcac364de8882028f6a3774fbf766aab93531c20618a68a2944742921d1c49305bb307a0ec52903bc7d59fb75fefbe2eaa465a30f9812d43c2601

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
